Res/Debug/DX.pdb
Res/Debug/DX.lib
Res/Debug/BaseApp.pdb
Codes/Client/DX/DX/Debug/DX.tlog/Lib.command.1.tlog
Codes/Client/DX/DX/Debug/DX.tlog/Lib-link.write.1.tlog
Codes/Client/DX/DX/Debug/DX.tlog/Lib-link.read.1.tlog
Codes/Client/DX/DX/Debug/DX.tlog/DX.lastbuildstate
Codes/Client/DX/DX/Debug/DX.tlog/CL.write.1.tlog
Codes/Client/DX/DX/Debug/DX.tlog/CL.read.1.tlog
Codes/Client/DX/DX/Debug/DX.tlog/CL.command.1.tlog
Codes/Client/BaseApp/BaseApp/Debug/BaseApp.tlog/link.write.1.tlog
Codes/Client/BaseApp/BaseApp/Debug/BaseApp.tlog/link.read.1.tlog
Codes/Client/BaseApp/BaseApp/Debug/BaseApp.tlog/CL.write.1.tlog
Codes/Client/BaseApp/BaseApp/Debug/BaseApp.tlog/CL.read.1.tlog
Codes/Client/BaseApp/BaseApp/Debug/BaseApp.tlog/CL.command.1.tlog
Codes/Client/DX/DX/Debug/GeometryDX11.obj
Codes/Client/DX/DX/Debug/FirstPersonCamera.obj
Codes/Client/DX/DX/Debug/FileSystem.obj
Codes/Client/DX/DX/Debug/FileLoader.obj
Codes/Client/DX/DX/Debug/EvtWindowMsg.obj
Codes/Client/DX/DX/Debug/EvtMouseWheel.obj
Codes/Client/DX/DX/Debug/EvtMouseRButtonUp.obj
Codes/Client/DX/DX/Debug/EvtMouseRButtonDown.obj
Codes/Client/DX/DX/Debug/EvtMouseMsg.obj
Codes/Client/DX/DX/Debug/EvtMouseMove.obj
Codes/Client/DX/DX/Debug/EvtMouseMButtonUp.obj
Codes/Client/DX/DX/Debug/EvtMouseMButtonDown.obj
Codes/Client/DX/DX/Debug/EvtMouseLeave.obj
Codes/Client/DX/DX/Debug/EvtMouseLButtonUp.obj
Codes/Client/DX/DX/Debug/EvtMouseLButtonDown.obj
Codes/Client/DX/DX/Debug/EvtKeyboardMsg.obj
Codes/Client/DX/DX/Debug/EvtKeyUp.obj
Codes/Client/DX/DX/Debug/EvtKeyDown.obj
Codes/Client/DX/DX/Debug/EvtInfoMessage.obj
Codes/Client/DX/DX/Debug/EvtFrameStart.obj
Codes/Client/DX/DX/Debug/EvtErrorMessage.obj
Codes/Client/DX/DX/Debug/EventManager.obj
Codes/Client/DX/DX/Debug/Entity3D.obj
Codes/Client/DX/DX/Debug/DepthStencilViewDX11.obj
Codes/Client/DX/DX/Debug/DepthStencilViewConfigDX11.obj
Codes/Client/DX/DX/Debug/DepthStencilStateConfigDX11.obj
Codes/Client/DX/DX/Debug/DXGIOutput.obj
Codes/Client/DX/DX/Debug/DXGIAdapter.obj
Codes/Client/DX/DX/Debug/DX.pdb
Codes/Client/DX/DX/Debug/DX.log
Codes/Client/DX/DX/Debug/DX.idb
Codes/Client/DX/DX/Debug/DX.Build.CppClean.log
Codes/Client/DX/DX/Debug/D3DEnumConversion.obj
Codes/Client/DX/DX/Debug/ConstantBufferParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/ConstantBufferParameterDX11.obj
Codes/Client/DX/DX/Debug/ConstantBufferDX11.obj
Codes/Client/DX/DX/Debug/Camera.obj
Codes/Client/DX/DX/Debug/ByteAddressBufferDX11.obj
Codes/Client/DX/DX/Debug/BufferDX11.obj
Codes/Client/DX/DX/Debug/BufferConfigDX11.obj
Codes/Client/DX/DX/Debug/BlendStateConfigDX11.obj
Codes/Client/DX/DX/Debug/Application.obj
Codes/Client/DX/DX/Debug/Actor.obj
Codes/Client/DX/DX/Debug/SamplerParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/SamplerParameterDX11.obj
Codes/Client/DX/DX/Debug/ResourceProxyDX11.obj
Codes/Client/DX/DX/Debug/ResourceDX11.obj
Codes/Client/DX/DX/Debug/RendererDX11.obj
Codes/Client/DX/DX/Debug/Renderable.obj
Codes/Client/DX/DX/Debug/RenderWindow.obj
Codes/Client/DX/DX/Debug/RenderTargetViewDX11.obj
Codes/Client/DX/DX/Debug/RenderTargetViewConfigDX11.obj
Codes/Client/DX/DX/Debug/RenderParameterDX11.obj
Codes/Client/DX/DX/Debug/RenderEffectDX11.obj
Codes/Client/DX/DX/Debug/RasterizerStateConfigDX11.obj
Codes/Client/DX/DX/Debug/RasterizerStageStateDX11.obj
Codes/Client/DX/DX/Debug/RasterizerStageDX11.obj
Codes/Client/DX/DX/Debug/PointIndices.obj
Codes/Client/DX/DX/Debug/PixelStageDX11.obj
Codes/Client/DX/DX/Debug/PixelShaderDX11.obj
Codes/Client/DX/DX/Debug/PipelineManagerDX11.obj
Codes/Client/DX/DX/Debug/PipelineExecutorDX11.obj
Codes/Client/DX/DX/Debug/ParameterWriter.obj
Codes/Client/DX/DX/Debug/ParameterManagerDX11.obj
Codes/Client/DX/DX/Debug/ParameterContainer.obj
Codes/Client/DX/DX/Debug/OutputMergerStageStateDX11.obj
Codes/Client/DX/DX/Debug/OutputMergerStageDX11.obj
Codes/Client/DX/DX/Debug/Node3D.obj
Codes/Client/DX/DX/Debug/MatrixParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/MatrixParameterDX11.obj
Codes/Client/DX/DX/Debug/MatrixArrayParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/MatrixArrayParameterDX11.obj
Codes/Client/DX/DX/Debug/Matrix4f.obj
Codes/Client/DX/DX/Debug/Matrix3f.obj
Codes/Client/DX/DX/Debug/MaterialGeneratorDX11.obj
Codes/Client/DX/DX/Debug/MaterialDX11.obj
Codes/Client/DX/DX/Debug/Log.obj
Codes/Client/DX/DX/Debug/LineIndices.obj
Codes/Client/DX/DX/Debug/InputAssemblerStateDX11.obj
Codes/Client/DX/DX/Debug/InputAssemblerStageDX11.obj
Codes/Client/DX/DX/Debug/IndirectArgsBufferDX11.obj
Codes/Client/DX/DX/Debug/IndexBufferDX11.obj
Codes/Client/DX/DX/Debug/IEventListener.obj
Codes/Client/DX/DX/Debug/GeometryStageDX11.obj
Codes/Client/DX/DX/Debug/GeometryShaderDX11.obj
Codes/Client/DX/DX/Debug/GeometryGeneratorDX11.obj
Codes/Client/DX/DX/Debug/Win32RenderWindow.obj
Codes/Client/DX/DX/Debug/ViewPortDX11.obj
Codes/Client/DX/DX/Debug/VertexStageDX11.obj
Codes/Client/DX/DX/Debug/VertexShaderDX11.obj
Codes/Client/DX/DX/Debug/VertexElementDX11.obj
Codes/Client/DX/DX/Debug/VertexBufferDX11.obj
Codes/Client/DX/DX/Debug/VectorParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/VectorParameterDX11.obj
Codes/Client/DX/DX/Debug/Vector4f.obj
Codes/Client/DX/DX/Debug/Vector3f.obj
Codes/Client/DX/DX/Debug/Vector2f.obj
Codes/Client/DX/DX/Debug/UtilString.obj
Codes/Client/DX/DX/Debug/UnorderedAccessViewDX11.obj
Codes/Client/DX/DX/Debug/UnorderedAccessViewConfigDX11.obj
Codes/Client/DX/DX/Debug/UnorderedAccessParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/UnorderedAccessParameterDX11.obj
Codes/Client/DX/DX/Debug/TriangleIndices.obj
Codes/Client/DX/DX/Debug/Transform3D.obj
Codes/Client/DX/DX/Debug/Timer.obj
Codes/Client/DX/DX/Debug/Texture3dDX11.obj
Codes/Client/DX/DX/Debug/Texture3dConfigDX11.obj
Codes/Client/DX/DX/Debug/Texture2dDX11.obj
Codes/Client/DX/DX/Debug/Texture2dConfigDX11.obj
Codes/Client/DX/DX/Debug/Texture1dDX11.obj
Codes/Client/DX/DX/Debug/Texture1dConfigDX11.obj
Codes/Client/DX/DX/Debug/Task.obj
Codes/Client/DX/DX/Debug/SwapChainDX11.obj
Codes/Client/DX/DX/Debug/SwapChainConfigDX11.obj
Codes/Client/DX/DX/Debug/StructuredBufferDX11.obj
Codes/Client/DX/DX/Debug/StreamOutputStageStateDX11.obj
Codes/Client/DX/DX/Debug/StreamOutputStageDX11.obj
Codes/Client/DX/DX/Debug/ShaderStageStateDX11.obj
Codes/Client/DX/DX/Debug/ShaderStageDX11.obj
Codes/Client/DX/DX/Debug/ShaderResourceViewDX11.obj
Codes/Client/DX/DX/Debug/ShaderResourceViewConfigDX11.obj
Codes/Client/DX/DX/Debug/ShaderResourceParameterWriterDX11.obj
Codes/Client/DX/DX/Debug/ShaderResourceParameterDX11.obj
Codes/Client/DX/DX/Debug/ShaderReflectionFactoryDX11.obj
Codes/Client/DX/DX/Debug/ShaderReflectionDX11.obj
Codes/Client/DX/DX/Debug/ShaderFactoryDX11.obj
Codes/Client/DX/DX/Debug/ShaderDX11.obj
Codes/Client/DX/DX/Debug/SceneRenderTask.obj
Codes/Client/DX/DX/Debug/SamplerStateConfigDX11.obj
Codes/Client/DX/DX/Debug/SceneGraph.obj
Codes/Client/DX/DX/Debug/Scene.obj
Codes/Client/BaseApp/BaseApp/Debug/main.obj
Codes/Client/BaseApp/BaseApp/Debug/App.obj
Codes/Client/DX/.vs/DX/v15/Solution.VC.db
Codes/Client/DX/.vs/DX/v15/.suo
Codes/Client/BaseApp/BaseApp/Debug/BaseApp.log
Res/Debug/Log.txt
Codes/Client/DX/DX/Debug/ViewPerspective.obj
Codes/Client/DX/.vs/
Codes/Client/DX/DX/Debug/GeometryLoaderDX11.obj
